@font-face {
	font-family: 'Red Hat Display Bold';
	src: url(../assets/fonts/google_font/RedHatDisplay-Bold.ttf) format('truetype');

	font-family: 'ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-M.ttf') format('truetype');
}

* {
	font-family: 'Red Hat Display Bold';
}

body{
	margin: 0;
	padding: 0;
}

.navbar{
	background: rgb(255, 203, 69, .9);
}

.navbar-nav li {
	color: #fff;
}

.navbar-nav li:hover {
	background: rgb(0, 159, 224, .7);
	color: #fff;
	height: 100%;
	margin: 0;
	transition: .5s;
}

.navbar-nav .new {
	background: rgb(255, 203, 69, .7);
}

.navbar-nav .nav-item .nav-link {
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 33px 33px;
}

.dropdown-menu {
	background: rgb(0, 159, 224, .7);
	margin-top: -1px;
}

.dropdown-item:hover {
	background: rgb(0, 159, 224, 1);
}

.navbar-nav .nav-item a {
	color: #fff;
}

.form-search {
	position: relative;
	margin-left: 120px;
}

.input-search {
	position: relative;
	background: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #fff;	
	color: white;
	border-radius: 0;
	margin-left: 50px;
}

.input-group-text {
	padding: 0;
}

.input-search:focus {
	background: none;
}

.form-search .input-group-text {
	background: none;
	border: none;
}

.search-button {
	background: none;
	border: none;
}

.search-button {
	border: none;
	background: none;
	color: white;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

.search-button:hover {
	transition: .5s;
	background: rgb(0, 159, 224, .7);
	border-radius: 600px;
}

.search-button:focus {
	outline: none;
}

.j1{
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/all/4.png) center no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/all/4.png) center no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/all/4.png) center no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/all/4.png) center no-repeat;
	background-size: cover;
	padding-top: 0;
	background-attachment: fixed;
}

.project-banner{
	background: url(../images/projects/default/banner.jpg);
	background-size: cover;
	height: 400px;
	background-position: 0px -50px;
	background-attachment: fixed;
}

.j2{
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) center no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) center no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) center no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) center no-repeat;
	background-size: cover;
	padding: 0;
}
.us{
	padding: 0 7%;
}
.cv{
	padding: 0 7%;
}
.about{/*
	padding: 2% 0 2% 18%;*/
}
.about h1{
	font-weight: bold;
}
.about p{
	text-align: justify;
	text-indent: 0.5in;
}
.input{
	margin-bottom: 20px;
	padding: 10px 20px;
	width: 70%;
}
.submit{
	margin-bottom: 20px;
	padding: 10px 20px;
	width: 70%;
	border: none;
	color: #fff;
	background: #30A6BF;
	cursor: pointer;
}
footer {
	padding: 20px 0px;
	margin-bottom: 0;
	clear: both;
}
.contribution{
	padding-bottom: 45px;
}
.j1 h1{
	font-size: 20px;
	color: white;
	font-weight: bold;
}


.title::before{
	content: '';
	background: #ddd;
	height: 3px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(60px);
	margin-bottom: 25px;
} 
.titler::before{
	content: '';
	background: #0080AF;
	height: 2px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(53px);
	margin-bottom: 25px;
}

.titlev::before{
	content: '';
	font-weight: bold;
	background: #0080ff;
	height: 3px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(57px);
	margin-bottom: 25px;
}

.titlev2::before{
	content: '';
	font-weight: bold;
	background: #0080ff;
	height: 3px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(57px);
	margin-bottom: 15px;
}

.cb h2{
	color: #000066;
	font-weight: bold;
	font-size: 40px;
}
.vision h1{
	font-size: 22px;
	font-weight: bold;
}
.vision .visi{
	margin-top: 30px;
	color: #666;
}
.vision .misi{
	margin-top: 30px;
}
.vision h6{
	color: #666;
}

#projek h1{
	font-weight: bold;
}
#projek p{
	color: #666;
	font-weight: 600;
}
.vimi{
	padding-bottom: 90px;
}
.vimi h6{
	font-size: 16px;
}
.residence{
	font-size: 20px;
}
.cilodong{
	font-weight: 150;
	font-size: 38px;
	margin-top: 20px;
}
.projek{
	font-size: 14px;
	font-weight: 500;
	color: #666;
}
.news{
	font-weight: bold;
}
.our{
	color: #000066;
	font-size: 30px;
	font-weight: 360;
}
.paragraf{
	font-size: 16px;
}
.read{
	color: #000066;
	font-size: 14px;
	font-weight: bold;
	float: right;
	left: auto;
}

.judul{
	color: #000066;
	font-size: 30px;
	font-weight: 200;
}
.all{
	font-size: 20px;
	font-weight: bold;
}
.mnews{
	background: #30A6BF;
	padding: 10px 10% 10px 10%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.mnews:hover {
	color: rgba(255,255,255,.7);
}

.news-card-title {
	height: 190.67px;
	max-height: 190.67px;
}

.latest-news {
	height: 100%;
	height: 90px;
}

a:hover{
	text-decoration: none;
	border-bottom: none;
}
.office{
	font-size: 19px;
	font-weight: bold;
}

.text-small h4 {
	font-size: 16px;
	font-weight: 500;
}

.share{
	font-size: 16px;
	font-weight: bold;
}

.share::before{
	content: '';
	background: #0080ff;
	height: 3px;
	width: 110px;
	display: block;
	transform: translateY(20px);
	margin-bottom: 25px;
}
.icon{
	font-size: 18px;
	margin-right: 26px;
	color: #888;
	margin-bottom: 160px;
}
.fb{
	color: #0080ff;
}
.abs{
	width: 26px;
	margin-right: 10px;
}
.tanggal{
	font-weight: bold;
}


.gallery-grid1 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.hidden {
	display: none;
}

.mask {
	background: -webkit-filter(brightness(50%)), url(../img/b2.jpg) center no-repeat;
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../img/b2.jpg) center no-repeat;
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../img/b2.jpg) center no-repeat;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../img/b2.jpg) center no-repeat;
	background-size: cover; 
}

.namex{
	border: 1px solid #0081AF;
	margin: 25px;
}





.gallery-grid1 .p-maska,
.row .product .vm-product-media-container .p-maska {
	opacity: 0;
	bottom: 0%;
	position: absolute;
	width: 100%;
	-webkit-transform: 0px, 100%, 0px;
	-moz-transform: 0px, 100%, 0px;
	-ms-transform: 0px, 100%, 0px;
	-o-transform: 0px, 100%, 0px;
	transform: 0px, 100%, 0px;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}

.gallery-grid1 .p-maska .p-desc {
	position: relative;
	display: block;
}

.gallery-grid1:hover .p-maska,
.row .product:hover .p-maska {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d( 0px, 0px, 0px);
	-moz-transform: translate3d( 0px, 0px, 0px);
	-ms-transform: translate3d( 0px, 0px, 0px);
	-o-transform: translate3d( 0px, 0px, 0px);
	transform: translate3d( 0px, 0px, 0px);
}








/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.gallery-grid1 .p-mask,
.row .product .vm-product-media-container .p-mask {
	opacity: 0;
	background: rgba(4, 4, 4, 0.75);
	bottom: 0%;
	position: absolute;
	padding: 1em 1.3em;
	width: 100%;
	-webkit-transform: 0px, 100%, 0px;
	-moz-transform: 0px, 100%, 0px;
	-ms-transform: 0px, 100%, 0px;
	-o-transform: 0px, 100%, 0px;
	transform: 0px, 100%, 0px;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	text-align: left;
}

.gallery-grid1 .p-mask .p-desc {
	color: #a3a3a3;
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}

.gallery-grid1:hover .p-mask,
.row .product:hover .p-mask {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d( 0px, 0px, 0px);
	-moz-transform: translate3d( 0px, 0px, 0px);
	-ms-transform: translate3d( 0px, 0px, 0px);
	-o-transform: translate3d( 0px, 0px, 0px);
	transform: translate3d( 0px, 0px, 0px);
	padding: 20px;
}

.name{
	border: 1px solid #0081AF;
}

.p-mask h4 {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1.8em;
	font-family: Ubuntu B;
}   

.p-mask h1{
	font-weight: 150;
	font-size: 30px;
	margin-bottom: 77px;
	margin-top: 50px;
	color: #fff;
}

.namex h4 {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1.8em;
	font-family: Ubuntu B;
}   

.namex h1{
	font-weight: 150;
	font-size: 35px;
	margin-bottom: 77px;
	margin-top: 50px;
	color: #fff;
}

.parent-box{
	background: #ddd;
	display: flex;
}
.box{
	height: 300px;
}
.owl-carousel .owl-nav button.owl-prev{
	background: none;
	color: inherit;
	border: none;
	padding: 0!important;
	transform: translateY(-50%);
	font: inherit;
	outline: none;
	position: absolute;
	top: 50%;
	width: 70px;
	height: 50px;
	background: rgb(218, 165, 32, .7);
	font-size: 28px;
	font-weight: bold;	
}
.owl-carousel .owl-nav button.owl-next{
	background: none;
	color: inherit;
	border: none;
	padding: 0!important;
	transform: translateY(-50%);
	font: inherit;
	outline: none;
	position: absolute;
	top: 50%;
	right: 0;
	width: 70px;
	height: 50px;
	background: rgb(218, 165, 32, .7);
	font-size: 28px;
	font-weight: bold;	
}

.input-search::placeholder {
	color: white;
}

.myabout {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 700;
}

.text-about {
	font-family: 'Red Hat Display', sans-serif;
}

* {
	font-family: 'Red Hat Display', sans-serif;
}

.cv-shadow {
	box-shadow: 4px 4px 3px rgba(33, 33, 33, .5);
}

.cv-card {
	height: 180px;
	background: rgb(255, 203, 69, .9);
}

.cv-card h2 {
	color: #000066;
	font-weight: bold;
	font-size: 40px;
}

.cv-card p {
	color: white;
}

.home-jumbotron {
	background: url('../images/all/6332.jpg');
	width: auto;
	height: 100vh;
	background-size: cover;
	background-position: 0px -130px;
	border-radius: 0;
}

.home-jumbotron-text {
	position: absolute;
	top: 93%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	color: white;
	font-size: 15px;
}

.image-newest {
	height: 340px;
	overflow: hidden;
}

.image-newest img {
	overflow: hidden;
}

.hover-image {
	overflow: hidden;
	transition: .5s;
	cursor: pointer;
}

.hover-image:hover img {
	transform: scale(1.5);
	filter: blur(3px);
}

.hover-image:hover button {
	display: block;
	background: rgb(255, 203, 69, .9);
}

.hover-image img {
	transition: .5s;
}

.hover-image button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	border: none;
}

.hover-zoom-image {
	overflow: hidden;
	transition: .5s;
	cursor: pointer;
}

.hover-zoom-image:hover img {
	transform: scale(1.3);
}

.hover-zoom-image img {
	transition: .5s;
	width: 360px;
	max-width: 360px;
	height: 240px;
	max-height: 240px;
}

.virtual-image {
	background: #ddd;
	padding: 90px;
}

.virtual-image h3 {
	color: #888;
}

.custom-input {
	width: 100%;
	padding: 8px;
	border: 1px solid #aaa;
	color: black;
	outline-color: orange;
}

.form-search .search-result {
	display: none;
	position: absolute;
	background: #000;
	width: 100%;
	background: rgb(0, 159, 224, .8);
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
}

.search-result a {
	display: block;
	color: white;
}

.search-result p {
	margin: 0;
	padding: 0;
	display: block;
	color: white;
}

.search-result a:hover {
	display: block;
	color: rgba(255,255,255,.7);
}

.tags {
	list-style: none;
	margin: 0;
	overflow: hidden; 
	padding: 0;
}

.tags li {
	float: left; 
}

.tag {
	background: #eee;
	border-radius: 3px 0 0 3px;
	color: #999;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none;
	-webkit-transition: color 0.2s;
}

.tag::before {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px;
}

.tag::after {
	background: #fff;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #eee;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.tag:hover {
	background-color: crimson;
	color: white;
}

.tag:hover::after {
	border-left-color: crimson; 
}












@media (min-width: 300px) and (max-width: 991px) {
	.dropdown-menu {
		background: transparent;
		width: 100%;
		border: none;
	}

	.home-jumbotron {
		background: url('../images/all/6332.jpg');
		width: auto;
		height: 300px;
		background-size: cover;
	}

	.project-banner{
		background: url(../images/all/6332.jpg);
		background-size: cover;
		height: 200px;
	}

	.navbar-nav .nav-item .nav-link {
		display: block;
		color: #fff;
		font-weight: bold;
		padding: 15px 15px;
	}

	.form-search {
		margin-left: 0;
		padding: 0 15px;
	}

	.input-search {
		background: none;
		outline: none;
		border:none;
		border-bottom: 2px solid #fff;	
		width: 85%;
		color: white;
		margin-right: 0;
		margin-left: 0;
	}

	.search-button {
		margin-left: 10px;
	}

}

@media (min-width: 769px) and (max-width: 991px) {
	.home-jumbotron {
		background: url('../images/all/6332.jpg');
		width: auto;
		height: 100vh;
		background-size: cover;
	}
}

@media (min-width: 992px) and (max-width: 1174px) {
	.navbar-nav .nav-item .nav-link {
		display: block;
		color: #fff;
		font-weight: bold;
		font-size: 14px;
		padding: 23px 23px;
	}

	.form-search {
		margin-left: 40px;
	}

	.input-search {
		margin-left: 0px;
	}
}

@media (min-width: 1175px) and (max-width: 1265px) {
	.navbar-nav .nav-item .nav-link {
		display: block;
		color: #fff;
		font-weight: bold;
		padding: 23px 23px;
	}

	.form-search {
		margin-left: 115px;
	}

	.input-search {
		margin-left: 0px;
	}

	.input-search::placeholder {
		font-size: 15px;
	}
}