@font-face {
	font-family: 'Red Hat Display Bold';
	src: url(../fonts/google_font/RedHatDisplay-Bold.ttf) format('truetype');

	font-family: 'ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-M.ttf') format('truetype');
}

* {
	font-family: 'Red Hat Display';
}

.bold {
	font-weight: bold;
}

.navbar {
	background: rgba(255, 203, 69, .9);
	z-index: 9999;
}

.navbar-lg-menu .nav-link {
	padding: 33px 25px !important;
	color: white !important;
	transition: .3s;
}

.navbar-lg-menu .nav-link:hover {
	color: rgba(255,255,255,.8) !important;
	background: rgba(0, 159, 224, .7);
}

.banner-jumbotron {
	width: 100%;
	height: 100vh;
	background-image: url('../images/bg-hero/bg-hero-1.jpg');
	background-size: cover;
	border-radius: 0;
}

.corporate-value-jumbotron {
	height: auto;
	background-image: url('../images/corporate-value/cv.png');
	background-size: cover;
	border-radius: 0;
	background-attachment: fixed;
	z-index: -10;
}

.cv-card {
	background: rgba(255, 203, 69, .9);
	box-shadow: 4px 4px 3px rgba(33, 33, 33, .5);
	border-radius: 0;
}

.cv-card h2 {
	color: #000066;
	font-weight: bold;
	font-size: 40px;
}

.cv-card p {
	color: #fff;
}

.title {
	font-size: 20px;
}

.title::before{
	content: '';
	background: #fff;
	height: 3px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(60px);
	margin-bottom: 25px;
}

.title-blue {
	font-size: 20px;
}

.title-blue::before{
	content: '';
	background: #55a8fd;
	height: 3px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(60px);
	margin-bottom: 25px;
}

.filter {
	background: rgba(0,0,0,.5);
}

.facebook-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #3b5998;
	text-align: center;
	line-height: 35px;
	color: white;
	border-radius: 6px;
	transition: .5s;
	margin: 0 3px;
}

.facebook-icon:hover {
	background: white;
	color: #3b5998;
}

.twitter-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #00aced;
	text-align: center;
	line-height: 35px;
	color: white;
	border-radius: 6px;
	transition: .5s;
	margin: 0 3px;
}

.twitter-icon:hover {
	background: white;
	color: #00aced;
}

.instagram-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #bc2a8d;
	text-align: center;
	line-height: 35px;
	color: white;
	border-radius: 6px;
	transition: .5s;
	margin: 0 3px;
}

.instagram-icon:hover {
	background: white;
	color: #bc2a8d;
}

.whatsapp-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #47cf73;
	text-align: center;
	line-height: 35px;
	color: white;
	border-radius: 6px;
	transition: .5s;
	margin: 0 3px;
}

.whatsapp-icon:hover {
	background: white;
	color: #47cf73;
}

.slider {
	width: 100%;
	margin: 50px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 350px;
	height: 300px;
}

.slick-prev:before,
.slick-next:before {
	color: rgba(255, 203, 69, .9) !important;
}


.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
}