.hover-image {
	overflow: hidden;
	cursor: pointer;
}

.hover-image:hover img {
	transform: scale(1.5);
	filter: blur(3px);
}

.hover-image:hover button {
	display: block;
}

.hover-image img {
	transition: .5s;
}

.hover-image button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	border: none;
}

.nav-item-text {
	display: block;
	font-size: 16px !important;
}

.bg-content {
	background-image: url('../../images/all/6332.jpg');
	background-size: cover;
	min-height: 100vh;
}

.filter-dark {
	background: rgba(0,0,0,.5);
	min-height: 100vh;
}

.bold {
	font-weight: bold;
}

.menu-active a {
	background: rgba(255,255,255,.3);
}

.nav-item:hover {
	background: rgba(255,255,255,.2);
}